body{
font-family:arial;
font-size: 2vw;
font-weight: 100;

}
h1 {
  border: solid rgb(100,100,100) 5px;
  background-color: blue;
}
p {
  color: rgb(100,100,100);
}

h2{
  color: black !important;
}

.grey{
  color: grey;
}
