h1 {
color: #0F5FA8;

}


#nature img{
  width: 97vw;
  height: 45vw;
  position: relative;
  bottom: 15vw;
  border: .25vw;
  border-color: black;

}
#nature {
margin-bottom: -15vw;
}

#nature h1{
  font-size: 3.5vw;
  z-index: 1;
  position: relative;
}

#meat {

  position: absolute;
}

body{
  text-align: center;
  background-color: rgb(185, 186, 189);

  font-family:PT Serif;
  font-size: 2vw;
  font-weight: 100;

}


p {
  color: black;
}

h2{
  color: #92147D !important;
}
h3{
  color: black !important;
}

.center {
  margin:auto;
  width: 50%;
  border: .3vw solid black;
  /* padding: 10px; */

}

.button {
  background-color: #4CAF50;
  border-radius: .58vw;
  box-shadow: .32vw .32vw #3A3B3C;
  color: white;
  padding: .97vw 2.08vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .99vw;
  margin: .3vw .2vw;
  cursor: pointer;
}
button:hover{
  border: #fff solid .15vw;
}

button:active{
  color: #c3c6c9;
}
